#Para empezar instalaremos iptables-persistent
sudo apt-get install iptables-persistent
#Creamos el siguiente directorio
mkdir /home/usuario/services el siguiente código
#Ahora crearemos un servicio de enrutamiento para que al iniciar la máquina, haga enrutamiento
nano enruta.service

#!/bin/bash
[Unit]
Description=Service enrutamiento
After=network.target network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/usuario/services/enruta.sh

[Install]
WantedBy=multi-user.target

#Lo siguiente después de crearlo es hacer esta serie de comandos

sudo systemctl enable /home/usuario/services/enruta.service
sudo systemctl start /home/usuario/services/enruta.service
sudo systemctl status /home/usuario/services/enruta.service

#Luego se reinician las dos máquinas y listo
